<h1>Current Status of CTA Trains</h1>
<p>(taken from cta-api app)</p>

<table>
   <th>ID #</th> 
  <th>Train Line</th>
  <th>Status</th>


  <% @trains.each do |train_data| %>
    <tr>
      <td> <%= train_data.id %> </td>
      <td> <%= link_to train_data.name, train_path(train_data.id) %> </td>
      <td class="<%= train_data.id %>"><%= train_data.status %></td>
    </tr>
  <% end %>


</table>